/* Default styleing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

#wrapper {
	display: block;
	text-align: center;
}

body {
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-color: #95D9C3;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,h2,h3 {
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
}

h2,
h3,
p {
    margin-bottom: 1em;
}
p {
    font-size: 42px;
}

.h2-style {
    text-align: center;
	font-size: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #5c6f68;
	text-shadow: -3px -1px 1px #A7FFF6;
	text-decoration: #A7FFF6 underline;
}

.h4-style {
    font-size: 50px;
	text-align: center;
	text-shadow: -1px -1px 1px rgb(190,84,228);
}

img {
    max-width: 100%;
}

section {
    padding: 5rem 0;
}

/* Nav Styleing for all pages */
.header-container {
    display: flex;
	min-width: 40%;
	justify-content: left;
	align-items:center;
    text-align: center;
	font-size: 50px;
	padding-left: 7rem;
	margin-right: 5rem;
    margin-top: 4rem;
}
nav{
	display: flex;
	width: 100%;
	color:#A7FFF6;
	background-color: #5c6f68;
}
.nav-list {
	display: flex;
	flex-direction: row;
	min-width: 40%;
	justify-content: right;
	align-items: center;
	list-style-type: none;
	color:rgba(47, 79, 79, 0.541);
	padding-right: 6ch;
}
nav ul li a{
	max-width: 15%;
	min-width: 10%;
	font-size: 2rem;
	padding: 3ch;
	color: #A4F9C8;
	text-decoration: none;
}
.navname {
	color: #A7FFF6;
	font-size: 2rem;
	text-shadow:-2px -1px 1px #A4F9C8;
}

nav ul li a:hover {
	color: #A4F9C8;
	text-decoration: underline;
}

/* Content Styles */
.Intro-Index {
    display: inline-block;
    max-width: 80%;
	border: 1px transparent black;
	padding: 20px;
	margin-top: 5%;
	color: #5c6f68;
	text-align: left;
}
.About-Index{
	max-width: 60%;
	border: 1px transparent black;
	padding: 20px;
	margin-top: 15%;
	color: #5c6f68;
	display: inline-block;
    text-align: right;
}
.CurrProj-Index {
    max-width: 60%;
	border: 1px transparent black;
	padding: 20px;
	margin-top: 17%;
	color: #5c6f68;
	display: inline-block;
}
.Glade-Games {
    max-width: 90%;
	border: 1px transparent black;
	padding: 20px;
	margin-top: 5%;
	color: #5c6f68;
	display: inline-block;
}
.logo {
	max-width: 20%;
	margin-right: 10%;
    margin-left: 10%;
	margin-top: 5%;
    float: right;
}

.me {
	padding: .5em;
	border-radius: 30%;
	float: left;
	margin-right: 15%;
	margin-top: 4%;
}

/* Inspiration card styles */
.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 3%;
}
.card-container {
	width: 100%;
	padding: 0.5rem;
	border: 1px transparent;
}
.card-desc {
	font-size: 1.25rem;
	text-align: center;
}


/* Survey Styling */
.survey-heading {
	text-align: left;
	font-size: 50px;
	color: #5c6f68;
	text-shadow: -1px -1px 1px rgb(190,84,228);
}
.survey {
	margin-top: 2%;
	margin-left: 5%;
	text-align: left;
	font-size: 30px;
	color: #5c6f68;
	width: 50%;
}
.survey-legend-list {
	display:inline-flex;
}
.txtbox {
	margin-top: 1%;
	padding: 12px 18px;
	font: 20px;
	border: 2px solid #5c6f68;
}
fieldset {
	border: 2px solid #5c6f68;
	border-radius: 10px;
	padding: 5px;
}
.submit_btn, .reset_btn {
	padding: 20px;
	background-color: #A4F9C8;
	color:#5c6f68;
	border-radius: 10px;
	margin-left: 2ch;
}
.submit_btn:hover, .reset_btn:hover {
	background-color: rgb(190,84,228);
	color:white;
}

/* Footer Styleing */
footer	{
	color: #5c6f68;
    font-size: .80em;
    font-style: italic;
    text-align: center;
	padding: 5em 1em 1em 1em;
}

@media (max-width: 1200px)  {

    .nav-list {
        display: flex;
        flex-direction: column;
        min-width: 15%;
    }
    .logo {
        
        float: none;
        max-width: none;
        margin: 0 auto;
		display: block;
        padding: 1em;
    }
    p {
        text-align: center;
    }
	.gallery {
		flex-direction: column;
	}
	.card-container {
		margin-bottom: 2em;
	}
	.gallery-img {
		display: block;
		margin: 0 auto;
	}
	.survey {
		width: 80%;
	}
}
@media (max-width: 500px)  {

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: baseline;
    }

    nav ul li a{
        max-width: 5%;
        font-size: 1.5rem;
        padding: 1ch;
        margin-left: 60%;
    }

    .header-container {
        font-size: 40px;
        padding-top: 2rem;
    }
    p {
        text-align: center;
        font-size: 25px;
    }
    .logo {
        
        margin: 0 auto;
		display: block;
        padding: 1em;
    }
	.me {
		display: none;
	}
	.gallery {
		flex-direction: column;
	}
	.card-container {
		margin-bottom: 2em;
	}
	.gallery-img {
		display: block;
		margin: 0 auto;
	}
	.survey {
		min-width: 90%;
	}
}